{%load static %}
<head>
<title>꿈을 찾는 사람들 교육원</title>
<link rel="icon" href="{% static 'img/logo.svg'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css'%}?after">
<link rel="stylesheet" href="{% static 'css/main.css'%}">
<link rel="stylesheet" href="{% static 'css/header.css'%}">

<style>
    @media screen and (max-width: 1140px){
        .nav-menu .menu-list{display: none;}
    }
    @media screen and (min-width: 1140px){
        .nav-menu .menu-list{display: flex;}
    }
</style>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/header.js'%}"></script>
{% block script %}
{% endblock %}
<header>
    <div class="top-header">
        <div class="login">
            {% if request.session.user %} <!--로그인 여부 확인-->
            <b>{{ request.session.username}}</b>님
            <span></span>
            <a href="{% url 'accounts:logout' %}">로그아웃</a>
            {% else %}
            <a href="{% url 'accounts:login' %}">로그인</a>
            <span></span>
            <a href="{% url 'accounts:signup' %}">회원가입</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <nav class="nav-menu">
        <div class="nav-logo">
            <a href="/">
                <img class="logo-img" src = {% static "img/logo.jpg" %}>
            </a>
        </div>
        
        <ul class="menu-list">
            <li class="menu"><a href="#">교육원 소개</a>
                <div class="menu-bar"><span></span></div>
                <div class="submenu-container">
                    <div class="sub-bg1" aria-hidden="true"></div>
                    <ul class="submenu">
                        <li><a href="/intro/lecture">인사말</a></li>
                        <li><a href="#">강사 소개</a></li>
                        <li><a href="#">오시는 길</a></li>
                        <li><a href="#">추가 항목들...</a></li>
                    </ul>
                </div>
            </li>

            <li class="menu"><a href="#">주요 강의</a>
                <div class="menu-bar"><span></span></div>
            </li>
            
            <li class="menu"><a href="#">소통 마당</a>
                <div class="menu-bar"><span></span></div>
                <div class="submenu-container">
                    <ul class="submenu">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자료실</a></li>
                        <li><a href="/board">방명록</a></li>
                        <li><a href="#">SNS</a></li>
                        
                    </ul>
                </div>
            </li>
            <li class="menu"><a href="#">강의 문의</a>
                <div class="menu-bar"><span></span></div>
                <div class="submenu-container">
                    <ul class="submenu">
                        <li><a href="#">강의 상담 문의</a></li>
                        <li><a href="#">내 문의 내역</a></li>
                        <li><a href="#">강의 일정표</a></li>
                        <li><a href="#">추가 항목들...</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div id="menuToggle">
            <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </nav>
</header>

{% block content %}
<!--본문 위치-->
{% endblock %}
<!-- 푸터 임시 제거 
<div style="clear:both;"></div>
<footer>
    <div>
        <br>
        <p>꿈을찾는사람들교육원</p>
        <p>홍의섭</p>
        <p>경남 창원시 성산구 용지로70.1029호 (중앙동/성원그랜드 오피스텔)</p>
        <p>사업자등록번호 : 102-27-75425</p>
        <p>전화번호 : 055-601-0451</p>
        <p>이메일 : jhs9747@naver.com</p>
        <p>기타 : (강의접수)010-9371-0450</p>
        <br>
    </div>
</footer>
-->
<!-- 자바스크립트 시작 -->

<!-- 자바스크립트 끝 -->