{%load static %}
<head>
<title>꿈을 찾는 사람들 교육원</title>
<link rel="icon" href="{% static 'img/logo.svg'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/reset.css'%}?after">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/main.css'%}">
<link rel="stylesheet" href="{% static 'css/header.css'%}">

<style>
    @media screen and (max-width: 1140px){
        .nav-menu .menu-list{display: none;}
    }
    @media screen and (min-width: 1140px){
        .nav-menu .menu-list{display: flex;}
    }
</style>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/header.js'%}"></script>
{% block script %}
{% endblock %}
<header>
    <nav class="nav-menu">
        <div class="nav-logo">
            <a href="/">
                <img class="logo-img" src = {% static "img/logo.png" %} alt="꿈을 찾는 사람들 교육원" title="꿈을 찾는 사람들 교육원">
            </a>
        </div>

        <div id="blind">
            <span></span>
        </div>

        <ul class="menu-list">
            <li class="menu"><a href="#">교육원 소개</a>
                <div class="menu-bar"><span></span></div>
                <div class="submenu-container">
                    <ul class="submenu">
                        <li><a href="/intro/lecture">인사말</a></li>
                        <li><a href="#">강사 소개</a></li>
                        <li><a href="#">오시는 길</a></li>
                        <li><a href="#">추가 항목들...</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu"><a href="#">주요 강의</a>
                <div class="menu-bar"><span></span></div>
                <div class="submenu-container">
                    <ul class="submenu">
                        <li><a href="/intro/lecture">주요 강의</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu"><a href="/lecture/inquiry">강의 문의</a>
                <div class="menu-bar"><span></span></div>
                <div class="submenu-container">
                    <ul class="submenu">
                        <li><a href="/lecture/inquiry">강의 상담 문의</a></li>
                        <li><a href="/lecture/inquiry/list">내 문의 내역</a></li>
                        <li><a href="#">강의 일정</a></li>
                        <li><a href="#">추가 항목들...</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu"><a href="#">소통 마당</a>
                <div class="menu-bar"><span></span></div>
                <div class="submenu-container">
                    <ul class="submenu">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자료실</a></li>
                        <li><a href="/board">방명록</a></li>
                        <li><a href="#">활동 소식</a></li>
                        
                    </ul>
                </div>
            </li>
        </ul>
        <div id="menuToggle">
            <a class="menu-trigger burger-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </nav>
</header>

<!-- 사이드바 -->
<div id="sidebar" style="display: none;">
    <div class="background"></div>
    <div class="inner">
        <div id="sidebarToggle ">
            <a class="side-trigger burger-toggle" href="#">
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>

{% block topContent %}
<!-- 본문 헤더 -->
<div id="top-content">
    <div class="top-img">
        {% block topImg %}
        <img src = {% static "img/1.jpg" %} alt="예제이미지">
        <h1>예제 텍스트</h1>
        {% endblock %}
    </div>
    <div class="menu-tab">
        
    </div>
</div>
{% endblock %}

<!-- 본문 -->
{% block content %}
{% endblock %}



<footer>
    <div>
        <ul>
            <li>꿈을찾는사람들교육원</li>
            <li>홍의섭</li>
            <li>경남 창원시 성산구 용지로70.1029호 (중앙동/성원그랜드 오피스텔)</li>
            <li>사업자등록번호 : 102-27-75425</li>
            <li>전화번호 : 055-601-0451</li>
            <li>이메일 : jhs9747@naver.com</li>
            <li>기타 : (강의접수)010-9371-0450</li>
        </ul>
        <p><small>2024 꿈을찾는사람들교육원</small></p>
    </div>
</footer>