{%load static %}
<header>
    <nav class="nav_menu">
        <div class="nav_logo">
            <img class="logo_img" src = {% static "img/logo.jpg" %}>
        </div>
        
        <ul class="menu_list">
            <li class="menu1">교육원 소개
                <ul class="menu1_s submenu">
                    <li>주요 강의</li>
                    <li>대표 강사</li>
                    <li>오시는 길</li>
                </ul>
            </li>
            <li class="menu2">주요 소식
                <ul class="menu2_s submenu">
                    <li>SNS</li>
                    <li>방명록</li>
                </ul>
            </li>
            <li class="menu3">문의 및 예약
                <ul class="menu3_s submenu">
                    <li>일정 예약 확인</li>
                    <li>강의 상담 문의</li>
                </ul>
            </li>
        </ul>

        <div>

        </div>
    </nav>
</header>
<!---->