{%load static %}

<head>
    <title>꿈을 찾는 사람들 교육원 | 주요 교육</title>
    <link rel="icon" href="{% static 'img/logo.svg'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}?after">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</haed>

{% include 'header.html' %}
{%block content%}

<section class="main">
    <h1 class="title">주요 교육 소개</h1>
</section>

<!-- <img src = {% static "img/1.jpg" %}> -->

{%endblock%}
{% include 'footer.html' %}