{% extends 'header.html' %}
{% load static %}

{% block topContent %}
{% endblock %}

{% block content %}
<!-- 슬라이드 -->
<div class="slide">
    {% for slide in slides %}
    <div class="slide-item">
        <img class="slide-img" src = "{{slide.image.url}}" alt="slide-img">
        <div class="slide-text">
            <h1 class="slide-title">{{slide.title}}</h1>
            <p class="slide-content">{{slide.contents}}</p>
        </div>
        
    </div>
    {% endfor %}
    <div class="slide-btns">
        <a href="#" class="slide-btn slide-prev">prev</a>
        <ul class="slide-pagination"></ul>
        <a href="#" class="slide-btn slide-next">next</a>
    </div>
    
</div>

<div class="main-content">
    
    <h1 class="title">꿈을 찾는사람들 교육원 입니다</h1>
    <a class="btn" href="/admin">관리자 페이지 바로가기</a>
</div>

<!-- <img src = {% static "img/1.jpg" %}> -->

{% endblock %}

{% block script %}
<script src="{% static 'js/main/slide.js'%}"></script>
{% endblock %}
