{% extends 'header.html' %}
{% load static %}

{% block topContent %}
{% endblock %}

{% block content %}
<!-- 슬라이드 -->
<div class="slide">
    {% for slide in slides %}
    <div class="slide-item">
        <img class="slide-img" src = "{{slide.image.url}}" alt="slide-img">
        <div class="slide-text">
            <h1 class="slide-title">{{slide.title}}</h1>
            <p class="slide-content">{{slide.contents}}</p>
        </div>
        
    </div>
    {% endfor %}
    <div class="slide-btns">
        <a href="#" class="slide-btn slide-prev">prev</a>
        <ul class="slide-pagination"></ul>
        <a href="#" class="slide-btn slide-next">next</a>
    </div>
</div>

<div class="main-content padding-zero">
    <!-- 전체 강의 -->
    <div class="content-box scroll_wrap">
        <div class="scroll_on type_bottom">
            <p class="big-text">다양한 교육들</p>
            <p>전문적인 지식으로 사례화된 교육을 실시하며 대면강의와 온라인 강의가능합니다.</p>
            <p>모두가 공감하는 현실적인 교육 대상별 차별화된 맞춤형 강의내용</p>
        </div>
        <ul class="lecture-box">
            {% for lecture in lectures %}
            <li class="lecture-content scroll_on type_bottom">
                <a href="/lecture/list/detail/{{ lecture.pk }}">
                    <h2 class="lecture-title" data-id="{{lecture.pk}}">{{ lecture.title }}</h2>
                    <p class="lecture-text">{{ lecture.contents|linebreaksbr }}</p>
                    <img src="{{ lecture.image.url }}" data-src="{{ lecture.image.url }}" alt="{{lecture.title}}">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="main-content padding-zero">
    <!-- 달력 -->
    <div class="scroll_wrap">
        <h1 class="scroll_on type_bottom">강의 일정</h1>
        <br>
        <div class="sec-cal scroll_on type_bottom">
            <div class="cal-nav">
                <a href="javascript:;" class="nav-btn go-prev">prev</a>
                <div class="year-month"></div>
                <a href="javascript:;" class="nav-btn go-next">next</a>
            </div>
            <div class="cal-wrap">
                <div class="days">
                    <div class="week">월요일</div>
                    <div class="week">화요일</div>
                    <div class="week">수요일</div>
                    <div class="week">목요일</div>
                    <div class="week">금요일</div>
                    <div class="week">토요일</div>
                    <div class="week">일요일</div>
                </div>
            <div class="dates"></div>
        </div>
      </div>
    </div>
    <div id="calender-modal" class ="modal">
        <div class="modal-content">
            <div class="modal-title">
                <span class="modal-close">&times;</span>
                <span class="selected-date title"></span>
                <span class="selected-day title"></span>
                {% if user.is_staff %}
                <span class="add-sched btn-active">추가</span>
                {% endif %}
            </div>
            <div class="modal-detail">
                <ul class="detail-list-area">
                    
                </ul>
                
            </div>
        </div>
    </div>
</div>

<div class="main-content padding-zero">
    <!-- 오시는길 -->
    <div class="content-box scroll_wrap">
        <h1 class="scroll_on type_bottom">오시는 길</h1>
        <!-- 지도 -->
        <div id="map" style="width:100%;height:400px;" class="scroll_on type_bottom"></div>
        <div class="map_address scroll_on type_bottom">
            <h3>꿈을찾는사람들교육원</h3>
            <h2>{{contacts.address}} / {{contacts.sub_address}}</h2>
            <a class="btn-active" href="{{contacts.map_add}}" target="_blank">지도에서 보기</a>
        </div>
        <div class="info_box scroll_on type_bottom">
            <table>
                <tr>
                    <th>이용시간</th>
                    <td>
                        평일 {{ contacts.weekday_start_time }} - {{ contacts.weekday_end_time }}<br>
                        주말 {{ contacts.weekend_start_time }} - {{ contacts.weekend_end_time }}
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        {{ contacts.phone }}<br>
                        {{ contacts.sub_phone }}
                    </td>
                </tr>
                <tr>
                    <th>사업자 정보</th>
                    <td>
                        상호명: 꿈을찾는사람들교육원<br>
                        대표: {{ business_info.rep }}<br>
                        이메일: {{ business_info.email }}<br>
                    </td>
                    <th>입금 정보</th>
                    <td>
                        예금주: {{ business_info.depositor }}<br>
                        은행: {{ business_info.bank }}<br>
                        계좌번호: {{ business_info.account }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    var latitude = {{ contacts.latitude }};
    var longitude = {{ contacts.longitude }};
    var schedules = JSON.parse('{{ schedules|escapejs }}');
</script>
<script src="{% static 'js/lecture/calender.js'%}"></script>
<script src="{% static 'js/main/slide.js'%}"></script>
<script src="{% static 'js/intro/contact.js'%}"></script>
{% endblock %}

{% block f_script %}
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ context.client_id }}"></script>
{% endblock %}
