{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img src = {% static "img/inquiry.jpg" %} alt="예제이미지">
    <h1>강의 문의</h1>
{% endblock %}

{% block content %}

<div class="board-box">
    <h1>내 문의 내역</h1>
    <div class="board-title">
        <h3>{{post.title}}</h3>

        {% if show_updated_at %}
        <span>*{{ post.updated_at }}</span>
        {% else %}
        <span>{{ post.created_at }}</span>
        {% endif %}
    </div>

    <div class="board-content">
        <p>{{post.contents|linebreaksbr}}</p>
    </div>
    
    <br>
    
    <!--댓글-->
    {% include "comment/comments.html" %}

    <a class="btn" href="/lecture/inquiry/list">목록</a>
</div>

{% endblock %}

{% block script %}
<script src="{% static "js/board/post_detail.js" %}"></script>
{% endblock %}