{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <h1>방명록 작성</h1>
    <div>
        <form method = "POST" action=".">
            {% csrf_token %}
            {% for field in form %}
            <div class ="form-group">
                <label for = "{{ field.id_for_label }}">{{field.label}}</label>
                {{ field.field.widget.name }}

                {% if field.name == 'contents' %}
                <textarea class = "form-control" name = "{{ field.name }}" placeholder = "{{field.label}}">{{ field.value|default:'' }}</textarea>

                {% else %}
                <input type = "{{ field.field.widget.input_type }}" class ="form-control" id ="{{field.id_for_label}}" 
                placeholder = "{{field.label}}" name = "{{field.name}}" value="{{ field.value|default:'' }}">
                {% endif %}
            </div>
            {% if field.errors %}
            <span style = "color:red">{{field.errors}}</span>
            {% endif %}
            {% endfor %}
            <input type="submit" value="작성">
        </form>
    </div>
    <br>
    <br>
    <a href="/board">목록</a>
</div>

{% endblock %}