{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="main">
  <h1>방명록</h1>

  <table class="board-table">
    <thead class>
      <tr class="text-center">
        <th class ="num" scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
        <th scope="col">조회수</th>
      </tr>
    </thead>

    {% for list in postlist %}
    <tbody>
      <tr>
        <td>{{list.pk}}</td>
        <td><a href="{{list.pk}}/">{{list.postname}}</td>
        <td>{{list.contents}}</td>
        <td>23.12.19</td>
        <td>999</td>
      </tr>
    </tbody>
    {% endfor %}
    
  </table>
</section>

{% endblock %}