{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <h1>게시글 개별 페이지입니다</h1>
    <div>
        <p>제목 | {{post.title}}</p>
    </div>

    <p>등록 시간: {{ post.created_dt }}</p>
    
    {% if post.created_dt != post.updated_dt%}
        <p>수정 시간: {{ post.updated_dt }}</p>
    {% endif %}
    
    <div>
        <p>{{post.contents}}</p>

        {% if post.photo %}
            <img src = "{{post.photo.url}}" alt="" height = "300">
            <br>
        {% endif %}
    </div>
    
    <br>
    <div>
        {% if request.session.user == post.author_id %}
        <button><a href="{% url 'post_update' post.pk  %}">수정</a></button>

        <form action="{% url 'post_delete' post.pk  %}"
        method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
        {% endif %}
    </div>
    <br>
    
    <br>
    <br>
    <a href="/board">목록</a>
</div>

{% endblock %}