{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <h1>게시글 개별 페이지입니다</h1>
    <div>
        <p>제목 | {{post.title}}</p>
    </div>

    <p>등록 시간: {{ post.created_at }}</p>

    {% if post.created_at != post.updated_at%}
        <p>수정 시간: {{ post.updated_at }}</p>
    {% endif %}

    <div>
        <br>
        <p>{{post.contents|linebreaksbr}}</p>

        {% if post.photo %}
            <img src = "{{post.photo.url}}" alt="" height = "300">
            <br>
        {% endif %}
    </div>
    
    <br>
    <!--게시글 수정 / 삭제-->
    <div>
        {% if request.session.user == post.author_id %}
        <button><a href="{% url 'post_update' post.pk  %}">수정</a></button>

        <form action="{% url 'post_delete' post.pk  %}"
        method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
        {% endif %}
    </div>
    <br>
    
    <!--댓글-->
    <div>
        {% if comments %}
            <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
        {% endif %}
        <ul>
        {% for comment in comments %}
            <li>
            <hr> <!-- 부모 댓글 -->
            {{ comment.user }} | {{ comment.created_at }}<br>
            {{ comment.content }}
            
            {% for reply in comment.reply %}
                <ul>
                    <li>
                    <p>▼</p>
                    {{ reply.user }} | {{ reply.created_at}}<br>
                    {{ reply.content }}
                    </li>
                </ul>
            {% endfor %}

            {% if request.session.user %}
                <form action="{% url 'comments_nested' post.pk comment.id%}" method="POST">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="대댓글 작성">
                </form>
            {% else %}
                <a href="{% url 'accounts:login' %}">[로그인 후 댓글작성이 가능합니다.]</a>
            {% endif %}
        
        <!--삭제 / 수정-->
        {% if request.session.username == comment.user %}
            <a href="{% url 'comments_update' post.pk comment.id %}">수정</a>
            <form action="{% url 'comments_delete' post.pk comment.id %}" method = "POST"
            onsubmit="return confirm('댓글을 삭제하시겠습니까?');">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>
        {% endif %}
            </li>
            {% empty %}
                <p>댓글이 없습니다.</p>
            {% endfor %}
        </ul>

        <hr>
        <div> <!-- 댓글 입력 -->
            {% if request.session.user %}
                <form action="{% url 'comments_create' post.pk %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="작성">
                </form>
            {% else %}
                <a href="{% url 'accounts:login' %}">[로그인 후 댓글작성이 가능합니다.]</a>
            {% endif %}
        </div>
    </div>
    
    <a href="/board">목록</a>
</div>

{% endblock %}