{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img src = {% static "img/forum.jpg" %} alt="예제이미지">
    <h1>소통 마당</h1>
{% endblock %}

{% block content %}

<div class="main-content">
    <h1>방명록 수정</h1>
    <div>
        <form method = "POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}

            <button type="submit">수정</button>
        </form>
    </div>
    <br>
    <br>
    <a href="/board/guest/">목록</a>
</div>

{% endblock %}