{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img src = {% static "img/top_header/inquiry.jpg" %} alt="예제이미지">
    <h1>강의 문의</h1>
{% endblock %}

{% block content %}

<div class="main-content">
    {% if request.user.is_staff %}
    <h1>문의 내역</h1>
    {% else %}
    <h1>내 문의 내역</h1>
    {% endif %}
    

    <div class="post-write">
        <table>
            <tr>
                <th><label>작성자</label></th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th><label>작성일</label></th>
                <td>{{post.created_at}}</td>
            </tr>
            <tr>
                <th><label>이메일</label></th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th><label for = "id_phone">연락처</label></th>
                <td>{{post.phone}}</td>
            </tr>
            
            <tr>
                <th><label for = "id_title">제목</label></th>
                <td>{{post.title}}</td>
            </tr>
            <tr>
                <th><label for = "id_contents">내용</label></th>
                <td>{{post.contents|linebreaksbr}}</td>
            </tr>
        </table>
    </div>
</div>
    <br>
<div class="board-box">
    <!--댓글-->
    {% include "comment/comments.html" %}

    <a class="btn" href="/lecture/inquiry/list">목록</a>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static "js/board/comment.js" %}"></script>
{% endblock %}