{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img src = {% static "img/top_header/lecture.jpg" %} alt="예제이미지">
    <h1>주요 강의</h1>
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>전체 강의</h1>

    {% if request.user.is_staff %}
    <span id="modal-open" class="btn">추가</span>
    {% endif %}

    <form method="GET" action="{% url 'lecture:search' %}">
        <div class="search-box" style="position: relative;">
            <input class="search-text" type="text" name="q" placeholder="강의명을 입력해주세요">
            <input class="search-image" type="image" src="{% static '/img/icon/search_black_24dp.svg' %}" alt="검색">
        </div>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- 전체 강의 -->
    <ul class="lecture-box">
        {% for title in titles %}
        <li class="lecture-content">
            {% if request.user.is_staff %}
            <span class="btn lecture-edit" data-id="{{title.pk}}">수정</span>
            <form action="{% url 'lecture:lecture_del' title.pk  %}"
                method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                {% csrf_token %}
                <input class="btn btn-warning lecture-del" type="submit" value="삭제">
            </form>
            {% endif %}
            <a href="/lecture/list/detail/{{ title.pk }}">
                <h2 class="lecture-title" data-id="{{title.pk}}">{{ title.title }}</h2>
                <p class="lecture-text">{{ title.contents|linebreaksbr }}</p>
                <img src="{{ title.image.url }}" data-src="{{ title.image.url }}" alt="{{title.title}}">
            </a>
        </li>
        {% endfor %}
    </ul>

    {% if list %}
    <h1>강의 세부</h1>
    {% endif %}
    <!-- 세부 강의 내용 -->
    <ul class="lecture-box">
        {% for list in list %}
            <li class="lecture-content">
                <a href="/lecture/list/detail/{{ list.lecture_list.pk }}">
                    <h2 class="lecture-detail-title" data-id="{{list.pk}}">{{ list.title }}</h2>
                    <p class="lecture-text">{{ list.contents|linebreaksbr }}</p>
                    {% if list.image %}
                        <img src="{{ list.image.url }}" data-src="{{ list.image.url }}" alt="{{list.title}}">
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    

    {% if request.user.is_staff %}
    <!-- 모달 부분 -->
    <div id="modal-box" class ="modal">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {% for field in form %}
                        {% if field.name == 'image' %}
                            <tr>
                                <td colspan="2">
                                    <label class="img-label" id="img-label" for="img-input">
                                        <div class="img-inner" id="img-inner">클릭해서 업로드</div>
                                    </label>
                                    <input id="img-input" name="image" type="file" accept="image/*" hidden="true">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p class="preview-title">미리보기</p>
                                    <div class="preview" id="preview">
                                        <div class="container-img">
                                            <img class="embed-img" src="" alt="">
                                            <input type="checkbox" class="hidden-checkbox" style="display: none;" name="checkedImages" value="">
                                            <span class="img-delete-btn">
                                                <span class="x-mark">X</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                                <td>{{ field }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <input class="btn" type="submit" value="등록">
            </form>
            
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/modal.js" %}"></script>
<script src="{% static "js/notice.js" %}"></script>
{% endblock %}