{% extends 'header.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <div class="container my-3">
        <h1>로그인</h1>
        {{ error }}
        <form method="post" action=".">
            {% csrf_token %}
            {% for field in form %}
            <div class ="form-group">
                <label for = "{{ field.id_for_label }}">{{field.label}}</label>
                <input type = "{{ field.field.widget.input_type }}" class ="form-control" id ="{{field.id_for_label}}" 
                placeholder = "{{field.label}}" name = "{{field.name}}">
            </div>
            {% if field.errors %}
            <span style = "color:red">{{field.errors}}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
    <a href="/user/signup"><p>회원가입</p></a>
</div>

{% endblock %}