{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img class="login-img" src = {% static "img/1.jpg" %} alt="예제이미지">
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container my-3">
        <h1>회원가입</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {% for field in form %}
            <div class ="login-form">
                <input type = "{{ field.field.widget.input_type }}" class ="form-control" id ="{{field.id_for_label}}" 
                placeholder = "{{field.label}}" name = "{{field.name}}">
                {% if field.errors %}
                <span style = "color:red">{{field.errors}}</span>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn-block btn-active">등록</button>
        </form>
        <a class='btn-block' href="/user/login/">돌아가기</a>
    </div>
</div>

{% endblock %}