{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img src = {% static "img/top_header/forum.jpg" %} alt="예제이미지">
    <h1>소통 마당</h1>
{% endblock %}

{% block content %}

<div class="main-content">
    <h1>공지사항 수정</h1>
    <div id="post">
        <form method = "POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'image' %}
                    <label class="img-label" id="img-label" for="img-input">
                        <div class="img-inner" id="img-inner">드래그하거나 클릭해서 업로드</div>
                    </label>
                    <input id="img-input" name="image" type="file" accept="image/*" multiple="true" hidden="true">
                    <p class="preview-title">미리보기</p>
                    <div class="preview" id="preview">
                        {% for image in post.image.all %}
                            <div class="container-img">
                                <img class="embed-img" src="{{ image.image.url }}" alt="{{ image.image.name }}">
                                <input type="checkbox" class="hidden-checkbox" style="display: none;" name="checkedImages" value="{{ image.id }}">
                                <span class="delete-btn">
                                    <span class="x-mark">X</span>
                                </spna>
                            </div>
                        {% endfor %}
                    </div>

                {% elif field.name == 'files' %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}" multiple>
                    
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <button class="btn save-img" type="submit">수정</button>
        </form>
    </div>
    <br>
    <br>
    <a href="/board/notice/">목록</a>
</div>

{% endblock %}

{% block script %}
<script src="{% static "js/notice.js" %}"></script>
{% endblock %}