{% extends 'header.html' %}
{% load static %}
{% load dr_filter %}

{% block topImg %}
    <img src = {% static "img/top_header/forum.jpg" %} alt="예제이미지">
    <h1>소통 마당</h1>
{% endblock %}

{% block content %}

<div class="board-box">
    <h1>공지사항</h1>
    <div class="board-title">
        <h3>{{post.title}}</h3>

        <span>{{ post.created_at }}</span>
    </div>

    <div class="board-content">
        <p>{{post.contents|linebreaksbr}}</p>
        
        {% for image in post.image.all %}
            <img src = "{{image.image.url}}" alt="" height = "300">
            <br>
        {% endfor %}
        <hr>
        {% for file in post.files.all %}
            <a href="{{ file.file.url }}" download>(첨부) {{ file.file.name|basename }}</a>
            <br>
        {% endfor %}
    </div>
    
    <br>

    <!--게시글 수정 / 삭제-->
    <div class="btn-group">
        {% if request.user.id == post.author_id %}
        <a class="btn" href="{% url 'notice:update' post.pk  %}">수정</a>

        <form action="{% url 'notice:delete' post.pk  %}"
        method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="삭제">
        </form>
        {% endif %}
        <a class="btn" href="/board/notice/">목록</a>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}