header{
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: background-color 0.2s ease-in-out
}

header:hover{
  background-color: var(--white);
  transition: background-color 0.2s ease-in-out
}
/* -----top header------ */
.top-header{
  position: absolute;
  right: 2%;
  top: 12px;
  padding-right: 30px;
  color: #e4e4e4;
  z-index: 2;

  transition: top 1s, color 0.2s ease-in-out
}

/* 로그인 경계선 */
.span-contour{
  width: 1px;
  height: 12px;
  margin: 0 5px;
  background-color: rgb(228, 228, 228);
  vertical-align: middle;
  display:inline-block;
  transition: background-color 0.2s ease;
}

/*--------헤더 메뉴--------*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90px;
    transition: background-color 0.5s ease;
    width: 100%;
    top: 0;
    z-index: 1;

    transition: top 1s
}

/* 스크롤시 헤더 사라짐 */
header.on .top-header,
header.on .nav-menu{
  top: -90px;
  height: 0px;
  transition: top 0.2s
}

/* 메뉴 글꼴 스타일 */
.nav-menu li.menu > a{
    font-weight: bold;
    font-size: 25px;
}

/* 메인 메뉴 조정 */
.menu-list li.menu{
  position: relative;
  text-align: center;
  width: 170px;
  padding: 40px 12px 13px 12px;
}

/* 기본 글꼴색 */
ul.menu-list > li.menu a,
ul.submenu > li{
  color: var(--white);
  transition: color 0.2s ease-in-out
}

/* 메뉴에 마우스가 올라갔을때 색변경 */
ul.menu-list > li.menu a:hover ,
ul.submenu > li:hover{
  color: var(--primary-color);
  transition: color 0.2s ease-in-out
}

/* 메뉴 글꼴색 */
header:hover .top-header,
.nav-menu:hover ul.menu-list > li.menu a,
.nav-menu:hover ul.submenu > li{
    color: var(--black);
}
header:hover .top-header .span-contour{
    background-color: var(--black);
    transition: background-color 0.2s ease;
}


/* 서브 메뉴 배경 */
#blind{
  background-color: #fafafa;
  width: 100%;
  transition-duration: 0.4s;
}

/* 서브메뉴 배경 그림 */
#blind span{
  display:flex;
  width: 200px;
  height: 180px;
  background-image: url(../img/temp.jpg);
  background-size: contain;
  left:0;
}

.submenu-container{
  width: 170px;
  border-right: 1px solid var(--line-color);
  border-left: 1px solid var(--line-color);
  transition-duration: 0.4s;
}

.submenu-container:nth-child(2) {
  border: none;
}
.submenu-container:nth-child(3) {
  border-left: none;
}

/* 서브메뉴 기본상태 */
.submenu-container,
#blind{
  position: absolute;
  height: 0;
  overflow:hidden;
  top: 100%;
  z-index: 1;
}

/* 마우스가 hover시 서브 메뉴 배경색 */
.menu.on .submenu-container{
  background-color: var(--white);
}

/* 서브메뉴 설정*/
.submenu{
  max-width: 300px;
  padding-left: 0;
  text-align: center;
  font-weight: bold;
}

.submenu:hover{
  color: var(--primary-color);
}

/* 메뉴 선택 바*/
.menu-bar span {
  position: absolute;
  width: 0;
  top: 100%;
  left: 0;
  height: 2px;
  margin-left: 12;
  background-color: var(--primary-color);
  border-radius: 4px;
  z-index: 2;
}

/* 마우스가 올라갔을때 (bar) */
.menu.on .menu-bar span {
  width: 170px;
  transition: width 0.4s ease-in-out
}

/*----햄버거 버튼----*/
.menu-trigger {
  margin-right: 70px;
  margin-bottom: 50px;

  position: relative;
  top: 25px;
  width: 50px;
  height: 44px;
}

/* 햄버거 레이아웃 설정 */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
}

/* 햄버거 줄 스타일링 */
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--white);
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out
}

/* 햄버거 줄 색 변경 */
.nav-menu:hover .menu-trigger span{
  background-color: var(--black);
  transition: background-color 0.2s ease-in-out
}

/* 햄버거 줄 세부위치 */
.menu-trigger span:nth-of-type(1) {
  top: 25px;
}
.menu-trigger span:nth-of-type(2) {
  top: 38px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: -10;
}

/* 햄버거 위치*/
.side-trigger {
  position: relative;
  top: 60px;
  width: 50px;
  height: 44px;
  left: 52%;
}

/* 햄버거 레이아웃 설정 */
.side-trigger,
.side-trigger span {
  display: inline-block;
  box-sizing: border-box;
}

/* 햄버거 줄 스타일링 */
.side-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--white);
  border-radius: 4px;
}

/* 햄버거 줄 세부위치 */
.side-trigger span:nth-of-type(1) {
  top: 10px;
}
.side-trigger span:nth-of-type(2) {
  top: 25px;
}

.side-trigger span:nth-of-type(1) {
  -webkit-transform: translateY (0px) rotate (-45deg);
  transform: translateY(0px) rotate(-45deg);
}

.side-trigger span:nth-of-type(2) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
}

/* 사이드바 설정*/
.inner{
  position: fixed;
  right: -500px;
  width: 500px;
  height: 100%;
  background-color: #04ABDD;
  z-index: 4;
  transition: right .3s ease-out;
}

/* ---- 사이드바 ------ */
#sidebar .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  z-index: 4;
  transition: opacity 0.5s ease;
}

/* 펼침 */
.inner.active{
  right: 0;
}

/*-------- 본문헤더 ----------*/
#top-content{
  width: 100%;
  position: relative;
}

/* 이미지 */
#top-content .top-img{
  position: relative;
  mix-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.205);
}
#top-content .top-img img{
  object-fit: cover;
  width: 100%;
  height: 300px;
  mix-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.205);
}

#top-content .top-img .login-img{
  height: 200px;
}

/* 제목 */
#top-content .top-img h1{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  
}

/* 메뉴 탭 */
#top-content .lecture-menu-tab,
#top-content .menu-tab{
  margin: 0 10%;
  padding: 2% 5%;
}

/* floating 메뉴*/
.floating{
  position: fixed;
  z-index: 3;
  right: 50px;
  bottom: 50px;
  text-align: right;
}

.floating span,
.floating a{
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: var(--primary-color-light);

  -webkit-box-shadow: 3px 2px 8px 1px rgba(0,0,0,.2);
  box-shadow: 3px 2px 8px 1px rgba(0,0,0,.2);

  font-size: 40px;
  color: var(--line-color);
  text-align: center;
  text-align: -webkit-center;

  margin-top: 10px;
  padding-top: 15%;
}

.floating img{
  filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(163deg) brightness(114%) contrast(101%);
  width: 40px;
  height: 40px;
}
  
/*-------- footer ----------*/
footer{
  padding: 2rem;
  text-align: center;
  width: 100%;
  background: var(--line-color);
}