/* top header*/
.top-header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 5px;
  height: 30px;
  align-items: center;
}
.top-header .login{
  padding-right: 30px;
}

.top-header .login span{
  width: 1px;
  height: 12px;
  margin: 0 5px;
  background-color: #000000;
  vertical-align: middle;
  display:inline-block;
}

header hr{
  background: #dddddd;
  height:1px;
  border:0;
}
/*--------헤더 메뉴--------*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
    width: 100%;
    z-index: 0;
}

/* 메뉴 글꼴 스타일 */
.nav-menu , li > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.nav-menu .menu-list{
    display: flex;
}

/* 메인 메뉴 조정 */
.menu-list li.menu{
    padding: 40px 12px;
    margin-right: 60px;
}

/* 메뉴에 마우스가 올라갔을때 색변경 */
ul.menu-list > li.menu a:hover ,
ul.submenu > li:hover{
  color: #126EB1;
  transition: color 0.2s ease-in-out
}

ul.menu-list > li.menu a:not(:hover) ,
ul.submenu > li:not(:hover){
  color: black;
  transition: color 0.2s ease-in-out
}

/* 서브메뉴 기본상태 */
.submenu-container {
  height: 0;
  overflow:hidden;
  position: absolute;
  top: 105px;
  width: 100%;
  background-color: #e4e4e4;
}

/* 마우스가 올라갔을때 (sbg) */
ul.menu-list:hover .submenu-container {
  height: 300px;
  z-index: 1;
  transition-duration: 0.5s;
}

/* 마우스가 때졌을때 (sbg)*/
ul.menu-list:not(:hover) div.submenu-container {
  z-index: 1;
  transition-duration: 0.5s;
}

/* 서브메뉴 배경 그림*/
.sub-bg1{
  background-image: url(../img/temp.jpg);
  background-size: contain;
  position: absolute;
  width:25rem;
  height: 20rem;
  left:0;
  z-index: -1;
}

/* 메뉴 선택 바*/
.menu-bar span {
  position: absolute;
  top: 80%;
  height: 2px;
  background-color: #126EB1;
  border-radius: 4px;
}

/* 마우스가 올라갔을때 (bar) */
ul.menu_list > li:hover .menu-bar span {
  width: 15vh;
  transition: width 0.2s ease-in-out
}

/* 마우스가 때졌을때 (bar)*/
ul.menu_list > li:not(:hover) .menu-bar span {
  width: 0%;
  transition: width 0.2s ease-in-out
}

/* 마우스가 올라갔을때 (sbg) */
ul.menu_list > li:hover div.submenu_bg {
  z-index: 1;
  padding: 30px;
  transition: padding 0.3s ease-in-out
}
/* 마우스가 때졌을때 (sbg)*/
ul.menu-list > li:not(:hover) div.submenu-container {
  z-index: 1;
  transition-duration: 0.5s;
}

/* 서브메뉴 설정*/
.submenu{
  border: 1px solid #ddd;
  max-width: 300px;
}

/* 서브메뉴 속성 */
ul.menu_list > li ul.submenu > li {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  text-align: center;
}

  /* 햄버거 버튼*/
  .menu-trigger {
    margin-right: 70px;
    margin-bottom: 50px;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  
  .menu-trigger {
    position: relative;
    top: 25px;
    width: 50px;
    height: 44px;
  }
  
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    border-radius: 4px;
  }
  
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  
  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
  
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  
  /* type-01 
  /* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
  .menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY (20px) rotate (-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
  }
  
  .menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }
  
  /*-------- footer ----------*/
  footer{
    position : relative;
    transform : translateY(-100%);

    text-align:center;
    color: white;
    background-color: #000000;
  }