/*--------메인 부분--------*/
.test{
    background-color: rgba(0, 0, 0, 0.205);
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
}

.main-content {
    text-align: center;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    flex:1;
    margin: 0 10%;
    padding-bottom: 5%;
}

/*--------게시판--------*/
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    text-align: center;
}

/* 게시판 머리 */
.board-table thead th {
    background: #f8f8f8;
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0;
    border-bottom: 1px solid rgb(65, 64, 64);
    border-top: 2px solid rgb(37, 35, 35);
}

/* 게시판 리스트 */
.board-table tbody td {
    border-top: 1px solid rgb(235, 230, 230);
    padding: 8px;
}

/* 게시판 폭 */
.board-table table-num{
    padding: 0 0 0 0;
}

/* 게시판 페이징 네비*/
.paging-navi ul {
  display: flex;
  justify-content: center;
}

.paging-navi li {
    margin:3px;
}

.paging-navi li a {
    text-decoration: none;
    color: black;
}
  
.paging-navi li.active a {
    color: red;
}

/*--------------------*/
/* 제목 */
.board-box {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 10%;
    padding-bottom: 5%;
}
.board-box h1{
    text-align: center;
}

.board-title{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid var(--line-color);
}
.board-title h3{
    float: left;
}
.board-title span{
    float: right;
}

.board-content{
    min-height: 200px;
}

.board-comment .comment-count{
    margin-bottom: 10px;
}
.board-comment .comment-list{
    padding: 30px;
    border-top: 1px solid var(--line-color);
    background-color: #f8f8f8;
}

/*------------------------------*/
/* 활동 소식 */
.sns-box li{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 0 30px 10px;
}
.sns-box .sns-content{
    padding: 40px 40px 40px;
    max-height: 280px;
    min-height: 250px;
    text-align: left;
    background-color: #f8f8f8;

    text-overflow: ellipsis;
    overflow: hidden;
}

/* 글자 빠져나옴 방지 */
.sns-box .sns-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sns-box .sns-description{
    margin-top: 10px;
    overflow: hidden;
}
.sns-box .sns-description a{
    display: block;
    height: 150px;
}
.sns-form{
    position: absolute;
    left: 0;
    bottom: 0;
}
.sns-form span:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
}