@import "reset.css";

html,body {
    scroll-behavior: smooth;
    height: 100%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 300;
}