{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img src = {% static "img/top_header/intro.jpg" %} alt="예제이미지">
    <h1>교육원 소개</h1>
{% endblock %}

{% block content %}

<div class="main-content">
    <h1>강사 소개</h1>

    {% if request.user.is_staff %}
    <span id="modal-open" class="btn">추가</span>
    {% endif %}

    <ul class="instrs-box">
        {% for instructor in list %}
            <li>
                <div class="member-img">
                    {% if instructor.image %}
                        <img src = "{{instructor.image.url}}" alt="{{instructor.name}}">
                        <br>
                    {% endif %}
                </div>
                
                <div>
                    {{instructor.name}}
                    {{instructor.contents}}
                </div>
                {% if request.user.is_staff %}
                <div>
                    <form action="{% url 'intro:instrs_del' instructor.pk  %}"
                        method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                        {% csrf_token %}
                        <input class="btn" type="submit" value="삭제">
                    </form>
                </div>
                {% endif %}                
            </li>
        {% endfor %}

        {% if request.user.is_staff %}
        <div id="modal-box" class ="modal">
            <div class="modal-content">
                <span class="modal-close">&times;</span>
                <form method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div>
                            <label>{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
        
                    <input class="btn" type="submit" value="등록">
                </form>
            </div>
        </div>
        {% endif %}
    </ul>

</div>

{% endblock %}

{% block script %}
<script src="{% static "js/modal.js" %}"></script>
{% endblock %}