{% extends 'header.html' %}
{% load static %}

{% block topImg %}
    <img src = {% static "img/top_header/intro.jpg" %} alt="예제이미지">
    <h1>교육원 소개</h1>
{% endblock %}

{% block content %}

<div class="main-content">
    <h1>강사 소개</h1>

    {% if request.user.is_staff %}
    <span id="modal-open" class="btn">추가</span>
    {% endif %}

    <ul class="instrs-box">
        {% for instrs in list %}
            <li class="instrs-content">
                {% if request.user.is_staff %}
                <span class="btn instrs-edit" data-id="{{instrs.pk}}">수정</span>
                <form action="{% url 'intro:instrs_del' instrs.pk  %}"
                    method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                    {% csrf_token %}
                    <input class="btn btn-warning instrs-del" type="submit" value="삭제">
                </form>
                {% endif %} 

                <div>
                    {% if instrs.image %}
                    <img src = "{{instrs.image.url}}" data-src="{{ instrs.image.url }}" alt="{{instrs.name}}">
                    {% endif %}
                
                    <h2 class="instrs-name">{{instrs.name}}</h2>
                    <span class="instrs-text">{{instrs.contents|linebreaksbr}}</span>
                </div>
                               
            </li>
        {% endfor %}

        {% if request.user.is_staff %}
        <div id="modal-box" class ="modal">
            <div class="modal-content">
                <span class="modal-close">&times;</span>
                <form method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {% for field in form %}
                            {% if field.name == 'image' %}
                                <tr>
                                    <td colspan="2">
                                        <label class="img-label" id="img-label" for="img-input">
                                            <div class="img-inner" id="img-inner">클릭해서 업로드</div>
                                        </label>
                                        <input id="img-input" name="image" type="file" accept="image/*" hidden="true">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p class="preview-title">미리보기</p>
                                        <div class="preview" id="preview">
                                            <div class="container-img">
                                                <img class="embed-img" src="" alt="">
                                                <input type="checkbox" class="hidden-checkbox" style="display: none;" name="checkedImages" value="">
                                                <span class="img-delete-btn">
                                                    <span class="x-mark">X</span>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                                    <td>{{ field }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <input class="btn" type="submit" value="등록">
                </form>
            </div>
        </div>
        {% endif %}
    </ul>

</div>

{% endblock %}

{% block script %}
<script src="{% static "js/modal.js" %}"></script>
<script src="{% static "js/notice.js" %}"></script>
{% endblock %}